<h1>🛒 Tu carrito</h1>
<a href="{% url 'product_list' %}">
    ⬅ Volver a la tienda
</a>

{% if cart_items %}

    {% for item in cart_items %}
         <p>
             <a href="{% url 'decrease_quantity' item.product.id %}">➖</a>
             {{ item.quantity }}
             <a href="{% url 'increase_quantity' item.product.id %}">➕</a>
        </p>
           <a href="{% url 'remove_from_cart' item.product.id %}">
              ❌ Eliminar
           </a>
        <div style="border:1px solid #ddd; padding:10px; margin:10px;">
            <h3>{{ item.product.name }}</h3>
            <p>Cantidad: {{ item.quantity }}</p>
            <p>Subtotal: ${{ item.subtotal }}</p>
        </div>
    {% endfor %}

    <h2>💰 Total: ${{ total }}</h2>

    <br>
       <a href="{% url 'checkout' %}">
          <button>💳 Finalizar compra</button>
       </a>

{% else %}
    <p>Tu carrito está vacío </p>
{% endif %}

